    <!DOCTYPE HTML>
<html>
	<head>
		<title>Add Comment</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="hover.css" />
        <script type="text/javascript" src="addcomment.js"></script>
	</head>
	<body class="subpage">

    <!-- Header -->
      <header class = "header-user-dropdown" id="header">
        <div class="inner">
          <a href="index" class="logo"><strong>Commuteny Forum</strong></a>
          <nav id="nav">
            <div class = "header-limiter">
            <a href="about">About</a>
            <a href="view-guides"> Forum </a>
            <a href="login">Login/Sign up</a>


          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
      </header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div>
					<header class="align-left">
            
            <h3><strong>&nbsp;Guides&nbsp;</strong> > &nbsp; Taft to Makati via Mrt</h3>
					</header>
              <div class="box">
                <p><strong>Taft to Makati via MRT</strong> <br> by Kekeroni exxx deeee </p>
                <img src="images/68_big.jpg" alt="User Image"/>
                <p>Hi guys! So I take the MRT to Makati going home on a daily basis. It usually costs me around 40 pesos on a one way trip. This is a pretty reliable way and it's safe.</p>
                  </div>
                  <br>


                    <div class="table-wrapper">
                      <table class = "alt">
                    <thread>
                      <tr>
                        <th><strong>User </strong> </th>  
					              <th><strong>Images</strong></th>
                        <th> <strong> Comments </strong></th>
            						<th>Upvotes</th>
            						<th>Downvotes</th>

                      </tr>
                    </thread>
                    <tbody>
                      <tr> 
                          <td> Brian De Castro</a></td>
                          <td><img src="images/wallets/a.jpg" height= 200px;/></td>
                          <td>Kek!</td>
						  <td><div style ="float: right;"><span class="fa fa-chevron-up colorgreen"> </span> 2 </div></td>
                          <td> <div style ="float:right;"><span class="fa fa-chevron-down coloured"> </span> 24 </div></td>
                    
                      </tr>

                      <tr>
                          <td><img src="images/wallets/b.jpg" height= 200px;/></td>
                        <td> Rovi Soriano</a></td>
                        <td>Kekeroni xd.</td>
						<td><div style ="float: right;"><span class="fa fa-chevron-up colorgreen"> </span> 2 </div></td>
                        <td> <div style ="float:right;"><span class="fa fa-chevron-down coloured"> </span> 4 </div></td>
                        
                      </tr>

                      <tr>
                          <td><img src="images/wallets/c.jpg" height= 200px;/></td>
                        <td> Lanz Bulay</a></td>
                        <td>Major Keks</td>
						<td><div style ="float: right;"><span class="fa fa-chevron-up colorgreen"> </span> 2 </div></td>
                        <td> <div style ="float:right;"><span class="fa fa-chevron-down coloured"> </span> 10 </div></td>
                        
                      </tr>


                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan = "3"></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>

				  
                        </div>
                    </div>
			</section>
	</body>
</html>
