<!DOCTYPE HTML>
<html>
	<head>
		<title>Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/cssprofile.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/header-user-dropdown.css"/>
		<link rel="stylesheet" href="assets/css/demo.css" />
		<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>



  <!-- <script type="text/javascript" src="pop.js"></script>
	</head> -->
	<body class="subpage">

      <header class = "header-user-dropdown" id="header">
        <div class="inner">
          <a href="index" class="logo"><strong>Commuteny Forum</strong></a>
          <nav id="nav">
			
            <a href="edituser">Edit Account</a>
            <a href="view-guides"> Forum </a>
			<a href="login"> Logout </a>


          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        
      </header>

		<!-- Three -->
            <div class="container">

              <h2>Lanz Bulay</h2>
              <h5><strong>Joined: </strong> 16/11/2016 <br> <strong> Number of Posts: </strong>  189</h5>
            </div>
            <h4>Recent Posts</h4>
     

                        <div class="table-wrapper">

										<table class="alt">
											<thead>
												<tr>
													<th>Category</th>
													<th>Post</th>
													<th>Upvotes</th>
													<th>Downvotes</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Route</td>
													<td><a href = "add-comment.html"> Taft to Makati by MRT</a></td>
													<td><div style ="float:right down;"><span class="fa fa-chevron-up colorgreen"> </span> &nbsp; 23 </div></td>
													<td><div style ="float:left;"><span class="fa fa-chevron-down coloured"> </span> &nbsp; 24 </div></td>
												</tr>
												<tr>
													<td>Route</td>
													<td><a href = "add-comment.html">ATC to MOA</a></td>
                          <td><div style ="float:right down;"><span class="fa fa-chevron-up colorgreen"> </span> &nbsp; 13 </div></td>
													<td><div style ="float:left;"><span class="fa fa-chevron-down coloured"> </span> &nbsp; 54 </div></td>
												</tr>
												<tr>
													<td>Question</td>
													<td><a href = "#">Best time to travel to Taguig by car?</a></td>
                          <td><div style ="float:right down;"><span class="fa fa-chevron-up colorgreen"> </span> &nbsp; 50 </div></td>
													<td><div style ="float:left;"><span class="fa fa-chevron-down coloured"> </span> &nbsp; 2 </div></td>
												</tr>
												<tr>
													<td>Route</td>
													<td><a href = "#">Ayala to BGC by LRT</a></td>
                          <td><div style ="float:right down;"><span class="fa fa-chevron-up colorgreen"> </span> &nbsp; 33 </div></td>
													<td><div style ="float:left;"><span class="fa fa-chevron-down coloured"> </span> &nbsp; 14 </div></td>
												</tr>
												<tr>
													<td>Question</td>
													<td><a href = "#">Cheapest way to get to MOA from Makati?</a></td>
                          <td><div style ="float:right down;"><span class="fa fa-chevron-up colorgreen"> </span>&nbsp; 17 </div></td>
													<td><div style ="float:left;"><span class="fa fa-chevron-down coloured"> </span>&nbsp; 34 </div></td>
												</tr>
                        </tbody>
										</table>
									</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="copyright">
						&copy;Sadtech
					</div>

				</div>
			</footer>

		

	</body>
</html>
